/* CSS Reset & Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
  -webkit-appearance: none;
}

::placeholder {
  color: rgb(221, 221, 221);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #292826;
  transition: 0.8s all;
}

h1 {
  margin-bottom: 1.5%;
  color: #fff;
  font-weight: bolder;
  font-size: 25px;
}

.container {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  /* border:1px solid #000; */
  padding:12px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#result{
  width:238px;
}

.top-buttons {
  display: flex;
  align-items: center;
}

input {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0.3em;
  font-weight:600 ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.2s ease;

}

.btn:active{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: rgb(37, 35, 59);
  color: #fff;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 4px;
}

input[type="text"] {
  background-color: rgb(47, 51, 50);
  width: 222.5px;
}

input[type="button"]:hover {
  background-color: rgb(101, 101, 101);
  color: #fff;
}

#clear-button {
  color: #fff;
  background-color: rgb(255, 42, 42);
}

a {
  text-decoration: none;
  color: #fff;
}

#github-icon {
  margin-right: 10px;
}

.theme-button {
  all: unset;
  cursor: pointer;
}